<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAvbJPj-H30xQxzs6krlVgD5wupVysyHA</string>
	<key>GCM_SENDER_ID</key>
	<string>172434418199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phoneBookApp</string>
	<key>PROJECT_ID</key>
	<string>phone-book-app-7f093</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-book-app-7f093.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172434418199:ios:727d7a81b8445ce7b38a52</string>
</dict>
</plist>